<base href="/">
<h1>
  {{title}}
</h1>
<nav>
    <a routerLink="/events" routerLinkActive="active">Events</a>
    <a routerLink="/profile" routerLinkActive="active">Profile</a>
  </nav>
<router-outlet></router-outlet>